body {
    padding: 0;
    margin: 0;
    position: relative;
  }
  
  button {
    border: none;
    background: transparent;
  }
  #nawbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
      rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    padding: 10px;
    position: sticky;
    top: 0px;
    background-color: #fff;
    z-index: 100;
  }
  #query {
    width: 80%;
    font-size: 18px;
    padding: 5px;
  }
  #nawbar > div:nth-child(2) {
    width: 50%;
    /* border: 1px solid red; */
  }
  button {
    border: solid grey 0.5px;
    background-color: #f4f4f4;
    font-size: 18px;
    padding: 6px 20px;
  }
  .search {
    display: flex;
  }
  .logoes {
    width: 5%;
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    font-size: 18px;
    gap: 10px;
    padding: 5px;
  }
  #container {
    height: 400px;
    width: 60%;
  }
  #container > div {
    height: 100%;
  }
  #body {
    width: 80%;
    margin: auto;
    margin-top: 30px;
    display: flex;
    height: 500px;
  }
  #container {
    margin: auto;
    width: 80%;
    position: sticky;
    top: 80px;
    height: 100%;
  }
  /* Sidebar */
.mainBody {
    height: calc(100vh - 70px);
    display: flex;
    overflow: hidden;
  }
  
  .sidebar {
    height: 100%;
    width: 230px;
    background-color: white;
    overflow-y: scroll;
  }
  
  .sidebar__categories {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
    margin-top: 15px;
  }
  
  .sidebar__category {
    display: flex;
    align-items: center;
    padding: 12px 25px;
  }
  
  .sidebar__category span {
    margin-left: 15px;
  }
  
  .sidebar__category:hover {
    background: #e5e5e5;
    cursor: pointer;
  }
  
  .sidebar::-webkit-scrollbar {
    display: none;
  }
  
  hr {
    height: 1px;
    background-color: #e5e5e5;
    border: none;
  }
  
  /* header */
  
  .material-icons {
    color: rgb(96, 96, 96);
  }
  
  .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    padding: 15px;
  }
  
  .header__left {
    display: flex;
    align-items: center;
  }
  
  .header__left img {
    width: 100px;
    margin-left: 0.5rem; /* Changed */
  }
  
  .header i {
    padding: 0 7px;
    cursor: pointer;
  }
  
  .header__search form {
    border: 1px solid #ddd;
    height: 35px;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .header__search input {
    width: 500px;
    padding: 10px;
    margin: 0;
    border-radius: 0;
    border: none;
    height: 100%;
  }
  
  .header__search button {
    padding: 0;
    margin: 0;
    height: 100%;
    border: none;
    border-radius: 50%;
  }
  
  