body {
  padding: 0;
  margin: 0;
  position: relative;
}
#container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-top: 5%;
  width: 85%;
  margin: auto;
  overflow: scroll;
  padding-top: 10px;
  /* border: solid red; */
}
#container::-webkit-scrollbar {
  width: 0;
  height: 0;
}
#container > div img {
  width: 100%;
}
button {
  border: none;
  background: transparent;
}

#query {
  width: 80%;
  font-size: 18px;
  padding: 5px;
}
#nawbar > div:nth-child(2) {
  width: 50%;
  /* border: 1px solid red; */
}
button {
  border: solid grey 0.5px;
  background-color: #f4f4f4;
  font-size: 18px;
  padding: 6px 20px;
}
.search {
  display: flex;
}
.logoes {
  width: 5%;
  display: flex;
  justify-content: space-between;
  /* border: solid; */
  font-size: 18px;
  gap: 10px;
  padding: 5px;
}
#body {
  display: flex;
}

/* Sidebar */
.mainBody {
  height: calc(100vh - 70px);
  display: flex;
  overflow: hidden;
}

.sidebar {
  height: 100%;
  width: 230px;
  background-color: white;
  overflow-y: scroll;
}

.sidebar__categories {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
  margin-top: 15px;
}

.sidebar__category {
  display: flex;
  align-items: center;
  padding: 12px 25px;
}

.sidebar__category span {
  margin-left: 15px;
}

.sidebar__category:hover {
  background: #e5e5e5;
  cursor: pointer;
}

.sidebar::-webkit-scrollbar {
  display: none;
}

hr {
  height: 1px;
  background-color: #e5e5e5;
  border: none;
}

/* header */

.material-icons {
  color: rgb(96, 96, 96);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 70px;
  padding: 15px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__left img {
  width: 100px;
  margin-left: 0.5rem; /* Changed */
}

.header i {
  padding: 0 7px;
  cursor: pointer;
}

.header__search form {
  border: 1px solid #ddd;
  height: 35px;
  margin: 0;
  padding: 0;
  display: flex;
}

.header__search input {
  width: 500px;
  padding: 10px;
  margin: 0;
  border-radius: 0;
  border: none;
  height: 100%;
}

.header__search button {
  padding: 0;
  margin: 0;
  height: 100%;
  border: none;
  border-radius: 50%;
}

